.cartButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 50px;
  height: 50px; 
  border-radius: 50%;
}

.img {
  width: 50%;
  height: 50%;
  /* transition: filter .15s; */
}

/* .cartButton:hover .img {
  filter: brightness(10000%); 
} */